<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8">
<title>Proyecto DAWI</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/c0e26baa3d.js" crossorigin="anonymous"></script>   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> 
</head>
<body>
	
	<div class="container">
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav">
				<div class="container-fluid">
					<a class="navbar-brand" href="/home"> <i class="fas fa-solid fa-house"></i></a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item" th:each="m : ${menus}" th:unless="${m.nombreopcion_menu == 'reportes'}">
								<a class="nav-link active"
								aria-current="page" th:href="'/' + ${m.nombreopcion_menu.toLowerCase().replace(' ','')}"><i th:class="${m.iconoopcion_menu}"><span  th:text="${m.nombreopcion_menu}" class="badge bg-light text-dark"></span></i></a>
								</li>
								<li class="nav-item dropdown" th:each="m : ${menus}" th:if="${m.nombreopcion_menu == 'reportes'}">
						          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						            <i th:class="${m.iconoopcion_menu}"><span  th:text="${m.nombreopcion_menu}" class="badge bg-light text-dark"></span></i>
						          </a>
							          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							            <li><a class="dropdown-item" href="/consultas/categoria">Categorias</a></li>
							            <li><a class="dropdown-item" href="/reports/prodxcat" target="_BLANK">Gráfico de Productos por Categorias</a></li>
							            <li><hr class="dropdown-divider"></li>
							            <li><a class="dropdown-item" href="#">Reporte de Luis</a></li>
							          </ul>
       	 						</li>	
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<h1>Sistema de Mantenimiento </h1> <img alt="logo de electro hogar" src="/logo_electrohogar.jpg">
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>